<div *ngIf= "product.title" class="card" style="width: 24rem;">
    <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{ product.title }}">
    <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency: 'NZD': 'symbol' }}</p>
</div>
    <div *ngIf="showActions && shoppingCart" class="card-footer">
        <button 
        *ngIf= "shoppingCart.getQuantity(product) === 0; else updateQuantity"
         (click)="addToCart()" 
         class="btn btn-secondary btn-block">Add to Cart</button>
         <ng-template #updateQuantity >
            <product-quantity [product]="product" [shopping-cart]="shoppingCart">
            </product-quantity>    
         </ng-template>
    </div>
</div>